[user]
	name = Harley
	email = 143757576+chaezuha@users.noreply.github.com
	signingkey = ~/.ssh/id_ed25519.pub
[gpg]
	format = ssh
[commit]
	gpgsign = true
[init]
	defaultBranch = main
[push]
	autoSetupRemote = true
[fetch]
	prune = true
[pull]
	rebase = true
[rebase]
	autostash = true
[merge]
	conflictstyle = zdiff3
[diff]
	colorMoved = default
[include]
	path = ~/.gitconfig.local
